.editor {
  display: grid;
  grid-template-areas: '1' '2' '3' '4' '5' '6' '7' '8' '9' '10';
  position: relative;
}

.editor.loading {
  -webkit-filter: blur(10px);
  pointer-events: none;
}

.sectionContainer {
  position: relative;
}

.sectionContainer .topButtons {
  position: absolute;
  top: 0rem;
  left: 0rem;
  right: 0rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.sectionContainer:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sectionContainer > section {
  border: 1px dashed transparent;
}

.sectionContainer:hover > *:first-child {
  border: 1px dashed lightgray;
}

.sectionContainer .addButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.sectionContainer:not(:hover) .topButtons,
.sectionContainer:not(:hover) .addButton {
  display: none;
}

.section {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-size: 4rem;
}

.drawer {
  position: relative;
}

.drawerActions {
  position: absolute;
  width: 100%;
  bottom: 0;

  padding: 0 calc(4rem - var(--formActionsLayoutMargin));
  margin: 0 -4rem;
  background-color: #fafafa;
}

.sectionContainer [data-reach-menu-popover] {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -25%);
  z-index: 1;
}

.sectionContainer:not(:hover) [data-reach-menu-popover] {
  display: none;
}
