.editor {
  display: grid;
  grid-template-areas: '1' '2' '3' '4' '5' '6' '7' '8' '9' '10';
  position: relative;
}

.editor.loading {
  -webkit-filter: blur(10px);
  pointer-events: none;
}

.sectionContainer {
  position: relative;
  display: grid;
}

.sectionContainer .topLeftButtons {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.sectionContainer .topRightButtons {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.editor:not(.isPreview) .sectionContainer:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sectionContainer > *:first-child {
  border: 1px dashed transparent;
}

.editor:not(.isPreview) .sectionContainer:hover > *:first-child {
  border: 1px dashed lightgray;
}

.sectionContainer .addButton {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.sectionContainer:not(:hover) .topLeftButtons,
.isPreview .topLeftButtons,
.sectionContainer:not(:hover) .topRightButtons,
.isPreview .topRightButtons,
.sectionContainer:not(:hover) .addButton,
.isPreview .addButton {
  display: none;
}

.section {
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-size: 4rem;
}

.drawer {
  position: relative;
}

.drawerActions {
  position: absolute;
  width: 100%;
  bottom: 0;

  padding: 0 calc(4rem - var(--formActionsLayoutMargin));
  margin: 0 -4rem;
  background-color: #fafafa;
}

.sectionContainer [data-reach-menu-popover] {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -1.5rem);
  z-index: 1;
}

.sectionContainer:not(:hover) [data-reach-menu-popover] {
  display: none;
}

.menuItem {
  text-transform: capitalize;
}
