.sectionAbout {
  padding: 4rem;
  display: grid;
  align-items: center;
}

.sectionAboutContent {
  z-index: 1;
  width: 50rem;
}

.sectionAboutTitle {
  line-height: 1.25;
  font-size: 72px;
  font-weight: 900;
}

.sectionAboutDescription {
  line-height: 1.25;
  font-size: 32px;
  font-weight: 600;
}

.sectionAboutButton {
  --buttonBaseColor: #06A9F6;
  --buttonBaseHoverColor: #06A9F6;

  --buttonPaddingHorizontal: 4rem;
}
